{{template "base.html" .}}

{{define "contents"}}

<form id="form-chat">
    <div class="row">
        <div class="col-xs-3">
            <input type="text" class="form-control on-chat-reverse" name="username" value="won" placeholder="Username" />
            <div class="mt5">
                <button type="button" class="btn btn-primary btn-connect">Connect</button>
                <button type="button" class="btn btn-danger btn-disconnect">Disconnect</button>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="chatroom" class="chatroom" style="height:300px; overflow-y: scroll;"></div>

                    <div class="row mt5">
                        <div class="col-xs-10">
                            <input type="text" name="message" class="form-control on-chat" disabled />
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-primary btn-block btn-send on-chat" disabled>Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>

{{end}}

{{ define "js" }}
<script src="/static/js/websocket.js"></script>
{{end}}
